.toolbar {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(25px);
  height: 80px;
}

.app-name {
  color: rgb(255,215,0);
  font-family: 'Courgette', cursive;
  font-size: 60px;
}

.example-spacer {
  flex: 1 1 auto;
}
