<div class="footer">

  <div class="links-section">

    <a href="https://github.com/Kovalskiii" class="icon-link  github">
      <fa-icon [icon]="faGithub" class="icon"></fa-icon>
    </a>

    <a href="https://www.linkedin.com/in/kovalskii/" class="icon-link linkedin">
      <fa-icon [icon]="faLinkedIn"  class="icon"></fa-icon>
    </a>

    <a href="https://www.instagram.com/vladkovalskii/" class="icon-link instagram">
      <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
    </a>

  </div>

  <br>

  <span class="year">&copy; {{currentYear}} </span>

</div>
