<div class="content">
  <canvas #canvasEl id="canvas" (click)="fillInitialGrid($event)"></canvas>
  <div class="game-buttons">
    <button #startBtn mat-raised-button id="start-btn" color="primary" (click)="startGame()"
            [disabled]="gameStarted || !gameStopped && !gridIsFilled">
      Start
    </button>
    <button mat-raised-button id="stop-btn" color="warn" (click)="stopGame()"
            [disabled]="!gameStarted">
      Stop
    </button>
    <button mat-raised-button id="clear-btn" color="basic" (click)="clearGrid()"
            [disabled]="gameStarted || !gameStopped && !gridIsFilled">
      Clear
    </button>
    <button mat-raised-button id="randomize-btn" color="basic" (click)="randomizeGrid()"
            [disabled]="(gameStarted || gameStopped)">
      Randomize
    </button>
  </div>

</div>

